<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaoDeportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <script src="/javascript/home.js"></script>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>


    <form action="/user/edit/<%= req.params.id %> " enctype="multipart/form-data" method="POST">

        <section class="login-form">

                <h1>Editar Usuario</h1>
                <p>
                    <label for="user_fullname" class="block-controller">Nombre y apellido</label>
                    <input type="text" name="user_fullname" id="user_fullname" placeholder="Nombre y apellido"
                        class="text-input" value="<%= user.user_fullname %>">
                </p>

                <p>
                    <label for="user_email" class="block-controller">E-mail</label>
                    <input type="email" name="user_email" id="email02" placeholder="e-mail" class="text-input" value="<%= user.user_email %>">
                </p>

                <p>
                    <label for="user_birthdate" class="block-controller">Fecha de nacimiento</label>
                    <input type="date" name="user_birthdate" id="user_birthdate" class="text-input" value="<%= user.user_birthdate %>">
                </p>


                <p>
                    <label for="user_adress" class="block-controller">Domicilio</label>
                    <input type="text" name="user_adress" id="user_adress" placeholder="Domicilio" class="text-input" value="<%= user.user_adress %>">
                </p>

                <p>
                    <label for="user_gender_id" class="block-controller">Gender</label>
                    <select name="user_gender_id" id="user_gender_id">
                        <option value="<%= user.user_gender_id %>" >

                        </option>
                        <% for(let i=0; i < genders.length; i++) {%>
                            <option value="<%= genders[i].id %>">
                                <%= genders[i].gender_name %>
                            </option>
                            <% } %>

                    </select>
                </p>
                <input value="Crear!" type="submit" class="rs-form" id="submit">
                <input type="reset" class="rs-form" id="reset">
        </section>
    </form>
    <form action="/user/delete/<%= req.params.id %>" method="POST">
        <button type="submit">Borrar Usuario</button>
    </form>


    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>