<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaoDeportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <section class="shopping-cart">
            <h1>Carrito de compras</h1>

            
            <% if (!cartProducts) { %>
                <h2>Carrito Vacio</h2>
            <% }else{ %>
                <% for(let i=0; i < products.length; i++) { %>
                    <div class="product">
                        <img src="/img/<%= products[i].product_image %>">
                        <div class="product-details">
                            <p class="product-name">
                                <%= products[i].product_name %>
                            </p>
                            <p class="product-subtotal">
                                <%= products[i].product_price %>$
                            </p>
                            <p class="product-quantity">
                                <i class="fas fa-chevron-left"></i>
                                    <%= console.log(amountOf[i]) %> 
                                    <%= amountOf[products[i].id] %>
                                <i class="fas fa-chevron-right"></i>
                            </p>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </section>

        <section class="shopping-summary">
            <div>
                <h1>Resumen De Compras</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis odio quae exercitationem voluptas
                    expedita voluptates.</p>
                <p>Total: $$$$.$$</p>

                <form action="/product/startPayment" method="POST">
                    <button>Iniciar Pago</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>