<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaoDeportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <script src="/javascript/home.js"></script>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <%= typeof msg != 'undefined' ? msg: '' %>


    <form action="/api/create" method="POST" enctype="miltipart/form-data">

        <section class="login-form">

                <h1>Crear Producto</h1>
                <p>
                    <label for="product_name" class="block-controller">Nombre del producto</label>
                    <input type="text" name="product_name" id="product_name" placeholder="Nombre del producto"
                        class="text-input">
                </p>

                <p>
                    <label for="product_price" class="block-controller">Precio </label>
                    <input type="number" name="product_price" id="product_price" placeholder="Precio "
                        class="text-input">
                </p>

                <p>
                    <label for="product_discount" class="block-controller">Descuento</label>
                    <input type="number" name="product_discount" id="product_discount" placeholder="Descuento"
                        class="text-input">
                </p>

                <p>
                    <label for="product_description" class="block-controller">Descripción</label>
                    <input type="text" name="product_description" id="product_description" placeholder="Descripción"
                        class="text-input">
                </p>

                <p>
                    <label for="product_image" class="block-controller">Imagen</label>
                    <input type="file" name="product_image" id="product_image" placeholder="Imagen" class="text-input">
                </p>

                <p>
                    <label for="product_gender_id" class="block-controller">Genero</label>
                    <select name="product_gender_id" id="product_gender_id">
                        <option value="1">
                            Hombre
                        </option>
                        <option value="2">
                            Mujer
                        </option>
                        <option value="3">
                            Unisex
                        </option>
                    </select>
                </p>

                <p>
                    <label for="product_category_id" class="block-controller">Categoria</label>
                    <select name="product_category_id" id="product_category_id">
                        <% for( let i=0; i < categories.length; i++ ) { %>
                            <option value="<%= categories[i].id %>">
                                <%= categories[i].category_name %>
                            </option>
                            <% } %>
                    </select>
                </p>
                <input value="Crear!" type="submit" class="rs-form" id="submit">
                <input type="reset" class="rs-form" id="reset">
        </section>


    </form>


    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>