<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TaoDeportes</title>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/home.css">

        <script src="/javascript/home.js"></script>
    </head>

<body>
    <header>
        <%- include('./partials/header')  %> 
    </header>
    <main>
        <div class="banner">
            <i class="fas fa-chevron-left"></i>
            <img src="/img/place-holder-running.webp" alt="guy running">
            <i class="fas fa-chevron-right"></i>
        </div>

        <article class="container01">
            <div id="indumentaria-hombre">
                <h2>Indumentaria Hombre</h2>
                <a href="/product/<%= products[0].product_id %>?id=<%=products[0].product_id%>"><img src="/img/<%= products[0].product_image %>" alt="male t-shirt"></a>
            </div>
            <div id="accesorios">
                <h2>Accesorios</h2>
                <a href="/product/<%= products[1].product_id %>?id=<%=products[1].product_id%>"><img src="/img/<%= products[1].product_image %>" alt=""></a>
            </div>
            <div id="indumentaria-mujer">
                <h2>Indumentaria Mujer</h2>
                <a href="/product/<%= products[2].product_id %>?id=<%=products[2].product_id%>"><img src="/img/<%= products[2].product_image %>" alt="male t-shirt"></a>
            </div>
        </article>

        <section>
            <h2>Articulos recomendados</h2>

            <article class="container02">
                <div id="woman-recomended">
                    <a href="/product/<%= products[1].product_id %>?id=<%=products[1].product_id%>"><img src="/img/<%= products[1].product_image %>" alt="male t-shirt"></a>
                    <a href="/product/<%= products[1].product_id %>?id=<%=products[1].product_id%>"><img src="/img/<%= products[1].product_image %>" alt="male t-shirt"></a>
                </div>
                <div id="accesories-recomended">
                    <a href="/product/<%= products[1].product_id %>?id=<%=products[1].product_id%>"><img src="/img/<%= products[1].product_image %>" alt=""></a>
                </div>
                <div id="male-recomended">
                    <a href="/product/<%= products[2].product_id %>?id=<%=products[2].product_id%>"><img src="/img/<%= products[2].product_image %>" alt="female t-shirt"></a>
                    <a href="/product/<%= products[2].product_id %>?id=<%=products[2].product_id%>"><img src="/img/<%= products[2].product_image %>" alt="female t-shirt"></a>
                </div>
            </article>
        </section>

        <section>
            <h2>Catálogo</h2>

            <article class="container03">
                <% for(let i=0; i<products.length; i++) {%>
                    <div>
                        <a href="/product/<%= products[i].product_id %>?id=<%=products[i].product_id%>"><img src="/img/<%= products[i].product_image%>" alt="<% products[i].product_description %> "></a>
                        <p>
                            <%= products[i].product_name %>
                        </p>
                        <p>
                            Precio: <%= products[i].product_price %>
                        </p>
                    </div>
                <% } %>
            </article>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer') %> 
    </footer>
</body>

</html>