<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <section class="prod-details">
        <div class="images">
            <article class="img3-wrapper">
                <img src="/img/<%= product.product_image %>" alt="female t-shirt">
                <img src="/img/<%= product.product_image %>" alt="female t-shirt">
                <img src="/img/<%= product.product_image %>" alt="female t-shirt">
            </article>
            <article class="main-img">
                <img src="/img/<%= product.product_image %>" alt="female t-shirt">
            </article>
        </div>
        <div class="details">
            <article class="precio">
                <h1><%= product.product_name %></h1>
                <p><%= product.product_price %>$</p>
                <h2>Metodos de Pago</h2>
                <ul>
                    <li>Mastecard</li>
                    <li>Debito</li>
                    <li>Credito</li>
                </ul>
                <form action="/api/buyNow/<%= req.params.id %> " id="buyNow">
                    <button type="submit">Comprar ahora</button>
                </form>
                <form class="<%= req.params.id %>" id="addCart" method="POST">
                    <button type="submit">Agregar al carrito</button>
                </form>
                
            </article>
            <article class="description">
                <h1>Detalles del producto</h1>
                <p><%= product.product_description %></p>
            </article>
        </div>
    </section>




    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>