<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaoDeportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productdetail.css">
    <script src="/javascript/productdetail.js"></script>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <section class="prod-details">
        <div class="images">
            <article class="img3-wrapper">
                <img src="/img/<%= products[req.query.id - 1].product_image %>" alt="female t-shirt">
                <img src="/img/<%= products[req.query.id - 1].product_image %>" alt="female t-shirt">
                <img src="/img/<%= products[req.query.id - 1].product_image %>" alt="female t-shirt">
            </article>
            <article class="main-img">
                <img src="/img/<%= products[req.query.id - 1].product_image %>" alt="female t-shirt">
            </article>
        </div>
        <div class="details">
            <article class="precio">
                <h1><%= products[req.query.id - 1].product_name %></h1>
                <p><%= products[req.query.id - 1].product_price %>$</p>
                <h2>Metodos de Pago</h2>
                <ul>
                    <li>Mastecard</li>
                    <li>Debito</li>
                    <li>Credito</li>
                </ul>
                <form action="/products/buyNow" class="<%= req.query.id %>" id="buyNow">
                    <button type="submit">Comprar ahora</button>
                </form>
                <form class="<%= req.query.id %>" id="addCart" method="POST">
                    <button type="submit">Agregar al carrito</button>
                </form>
            </article>
            <article class="description">
                <h1>Detalles del producto</h1>
                <p><%= products[req.query.id - 1].product_description %></p>
            </article>
        </div>
    </section>




    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>